.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #764ba2;
    width: 70rem;
    
}

.select{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #667eea;
    font-family: 'Poppins', sans-serif;
    
}

th.mat-header-cell{
    background-color: #667eea;
    font-size: 15px;
    color: white;
    text-align: center;
}

td.mat-cell, td.mat-footer-cell{
    background-color: rgb(243, 234, 242)
}

table,mat-option,mat-select,mat-paginator{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
