
<mat-toolbar class="menu">
  
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <img src="../../../../assets/logo-blanco.png" width="150px" alt="">

    <mat-menu #menu="matMenu">

      <div *ngIf="existeSesion()">
          <button mat-menu-item><a [routerLink]="['/dashboard/registro']" routerLinkActive="router-link-active">Registro</a></button>
          <button mat-menu-item><a [routerLink]="['/dashboard/viajes']" routerLinkActive="router-link-active">Viajes</a></button>
          <button mat-menu-item><a [routerLink]="['/dashboard/historial-viajes']" routerLinkActive="router-link-active">Historial de viajes</a></button>
          <button mat-menu-item><a [routerLink]="['/dashboard/listas']" routerLinkActive="router-link-active">Listas</a></button>
          <button mat-menu-item><a (click)="cerrarSesion()">Cerrar sesión</a></button>
      </div>

    </mat-menu>
    
  </mat-toolbar>