.contenedor-form{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #764ba2;
}
    
.login{
   width: 100%;
    max-width: 330px;
    height: 100%;
    text-align: center;
} 
    
.ancho{
    width: 80%;
}
    
.boton{
    height: 50px;
    background-color: #667eea;
    color:white;
} 

.boton-derecho{
    text-align: right;
    color: #667eea;
    
}

h1{
  margin-top: 15px;
  margin-bottom: 15px;
}