
<mat-form-field appearance="fill" class="select">
    <mat-label>Listas</mat-label>
    <mat-select #rol>
    <mat-option (click)="getUsuarios(3)" value="Lista Clientes" >Lista Clientes</mat-option>
    <mat-option (click)="getUsuarios(2)" value="Lista Cadetes">Lista Cadetes</mat-option>
    <mat-option (click)="getUsuarios(1)" value="Lista Administradores">Lista Administradores</mat-option>
    <mat-option (click)="getUsuarios(0)" value="Lista Todos">Lista Todos</mat-option>
    </mat-select>
</mat-form-field>

<div class="contenedor">
    <table mat-table [dataSource]="dataSource" mat-elevation-z2 width="100%" >
        
        <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
        </ng-container>
    
        <ng-container matColumnDef="rol">
        <th mat-header-cell *matHeaderCellDef> Rol </th>
        <td mat-cell *matCellDef="let element"> {{element.rol.name}}</td>
        </ng-container>

        <ng-container matColumnDef="direccion">
            <th mat-header-cell *matHeaderCellDef> Dirección </th>
            <td mat-cell *matCellDef="let element"> {{element.address}}</td>
        </ng-container>

        <ng-container matColumnDef="telefono">
            <th mat-header-cell *matHeaderCellDef> Telefono </th>
            <td mat-cell *matCellDef="let element"> {{element.cellPhone}}</td>
        </ng-container>      

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}}</td>
        </ng-container>

        <ng-container matColumnDef="vehiculo">
            <th mat-header-cell *matHeaderCellDef> Vehiculo </th>
            <td mat-cell *matCellDef="let element"> {{element.vehicle?.name || '-'}} </td>
        </ng-container>

        <ng-container matColumnDef="editar">
            <th mat-header-cell *matHeaderCellDef> Editar </th>
            <td mat-cell *matCellDef="let element"> 
                <button mat-button (click)="editarUsuario(element)">
                    <mat-icon matSuffix>edit</mat-icon>
                </button>
                <button mat-button (click)="eliminarUsuario(element)" *ngIf="!element.isDeleted">
                    <mat-icon matSuffix>delete</mat-icon>
                </button>
                <button mat-button (click)="incorporarUsuario(element)" *ngIf="element.isDeleted">
                    <mat-icon matSuffix>undo</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
    </table>
</div>

    <mat-paginator [pageSizeOptions]="[10, 20]"
    showFirstLastButtons 
    aria-label="Select page of dataSource">
    </mat-paginator> 
